* {
  box-sizing: border-box;
}
img {
  width: 40vw;
  height: 40vh;
}
.image {
  margin: 10% 25%;
}
#btn {
  margin-top: 2vw;
}
button {
  display: block;
  width: 40vw;
  height: 10vh;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  background: linear-gradient(
    90deg,
    rgb(2, 252, 56) 0%,
    rgb(148, 246, 2) 35%,
    rgb(204, 255, 0) 100%
  );
  border: none;
  border-radius: 10px;
}
